<p id="notice"><%= notice %></p>

<% @flashcards.each do |flashcard| %>
  <div id="card">
    <div class="front">
      <%= flashcard.question %>
    </div>
    <div class="back">
      <%= flashcard.answer %>
    </div>
  </div>
<% end %>