.flashcard {
  margin: 0 auto;
  width: 50%;
  height: 400px;

  .waves-effect {
    color: white;
  }

  input {
    text-align: center;
  }
}

.front,
.back {
  text-align: center;
  font-weight: 200;
  font-size: 30px;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 2px 2px 15px grey;
  background-color: white;
}

.slick-slide {
  height: 410px;
}